<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory>./client/test/Api</directory>
            <directory>./client/test/Model</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./client/lib/Api</directory>
            <directory suffix=".php">./client/lib/Model</directory>
        </whitelist>
    </filter>
</phpunit>
